

/* UTILIDADES */
.text-center{
    text-align: center;
}
.blue-text{
    color: var(--main-color);
}


/* MAIN */
.contenedor-principal{
    display: grid;
    place-items: center;
}

.formulario{
    min-height: 320px;
    width: 90%;
    max-width: 40rem;
}

.formulario fieldset{
    border: 1px solid #000;
    margin-bottom: 4rem;
}

.formulario legend{
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #037bc0;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    
}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

@media (min-width:560px){
    .campo{
        flex-direction: row;
    }
}
.campo label {
    margin-bottom: 0.5rem;
}

@media (min-width:560px){
    .campo label{
        flex-basis: 6.5rem;
        margin-bottom: unset;
    }
}
input:focus, textarea:focus,select:focus{
    outline: 2px solid black;
}
textarea{
    resize: vertical;
}

.campo input:not(input[type=radio]),textarea,select{
    flex: 1 ;
    padding: min(0.5vw,0.8rem);
    border: 1px solid #d5d7d8;
    background-color: #fff;
    /* outline: #000; */
}

@media (min-width:768px){
    .campo input:not(input[type=radio]),textarea,select{
        flex: 0 80%; 

    }
}



input[type="submit"]{
    display: block;
    margin: 0 auto;
    background-color: #037bc0;
    border: none;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    color: white;
    border-radius: min(1rem);
}
.info-extra .campo{
    flex-direction: row;
}
.info-extra .campo label{
    margin-bottom: unset;
}






